$canvas-color: black;

body { text-align: center; }

.logo {
	margin-top: 5px;
}

#gameCanvas {
	position: relative;
	background-color: $canvas-color;
	margin-top: -50px;
}

h4 {
	margin-top: 710px;
	float: center;
	width: 100%;
	position: fixed;
	color: #7B7B7B;
}