$canvas-color: black;

body { text-align: center; }

.logo {
	margin-top: 10px;
}

button {
	position: relative;
	height: 43px;
	width: 43px;
	top: 668px;
	left: 575px;
	z-index: 1;
}

#gameCanvas {
	position: relative;
	background-color: $canvas-color;
	margin-top: -80px;
}